<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<coverage />

	<php>

		<!-- If defined, it will spew debug -->
		<!-- <env name="OPENTHC_TEST_HTTP_DEBUG" value="0" /> -->

	</php>

	<testsuites>
		<testsuite name="All">
			<file>Core/System_Test.php</file>
			<file>Core/Global_Functions_Test.php</file>
			<file>Core/Config_Test.php</file>
			<file>Unit/Docopt_Test.php</file>
			<!-- <file>Service/Pub_Test.php</file> -->
		</testsuite>
	</testsuites>

</phpunit>
