







#
#
# Directories
# Files
**/.idea/tasks.xml
**/.idea/tasks.xml
**/.idea/tasks.xml
**/.idea/workspace.xml
**/.idea/workspace.xml
**/.idea/workspace.xml
api-proxy*log
composer.lock
composer.lock
composer.lock
composer.lock
composer.lock
composer.lock
composer.phar
composer.phar
composer.phar
composer.phar
composer.phar
composer.phar
composer.phar
composer.phar
compser.phar
doc/swagger.yaml
doxygen_sqlite3.db
etc/app.ini
etc/app.ini
etc/app.ini
etc/ssl
etc/ssl
etc/ssl
node_modules
node_modules/
node_modules/
node_modules/
node_modules/
node_modules/
public/
var/
var/
var/
var/
var/
vendor
vendor/
vendor/
vendor/
vendor/
vendor/
vendor/
vendor/
webroot/
webroot/assets/*
webroot/css/app.css
webroot/css/app.less
webroot/css/fontawesome-webfont.eot
webroot/css/fontawesome-webfont.svg
webroot/css/fontawesome-webfont.ttf
webroot/css/fontawesome-webfont.woff
webroot/css/fontawesome-webfont.woff2
webroot/css/vendor.css
webroot/css/vendor.less
webroot/doc
webroot/imperium
webroot/index.html
webroot/js/app.js
webroot/js/vendor.js
webroot/sdk
